/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
  padding: 0;  
}

/******************************/
/* Algemene styling  */
/******************************/

:root{
  --mainfont: 'Gothic A1', sans-serif;
  --mainfont2: 'Tenebra'; 
  --buttonfont: 'termina, sans-serif'; 
  --textcolor: white; 
  --background-color: black; 
  --background-color2: #f67cab; 
  --footer-text: #f67cab; 
  --accent-color: #5FB8CC;
  --second-font: 'good-headline-web-pro-wide', sans-serif; 
  --accent-color2: #f67cab; 
  --shadow-color:rgba(0 0 0 /0.75);
  --link-hover: #f67cab; 
  --link-active: #3B577C; 
  --button-hover: #3B577C; 
  --button-border1: #f67cab; 
  --button-border2: #5FB8CC;; 
  --button-active: blue; 
  --outline-color: rgb(68, 68, 196); 

  --link-visited: #5FB8CC;

}

/* @media (prefers-color-scheme:dark) {  
  :root {
    --background-color2: purple; 
    --accent-color: purple; 
    
  }
}

*/

/******************************/
/* Lettertypes  */
/******************************/


/*fonts*/ 

.homepagina h2{
  font-family: var(--mainfont2);
  color: var(--textcolor);
}

h3{
  font-family: var(--mainfont);
  text-transform: uppercase;
  color: var(--textcolor);
  }
  

p {
  font-family: var(--mainfont);
  color: var(--textcolor); 
}



/* Einde fonts*/ 



/******************************/
/* Header mobiel */
/******************************/


/* Header mobiel hamburger */

header {
  position: fixed; 
  background-color: rgba(0 0 0 /0.20); 
  overflow: hidden;
  z-index: 99;
  width: 100vh; 
  height: 4.3em;

}


header nav button{
  width: 100%;
  position: fixed;
  top: 1em;
  z-index: 999;
}

header nav button{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3em; 
  height: 2em;
  z-index: 101;
  margin: 1em;
  background-color: transparent;
  border-style: none;
  cursor: pointer; 

}

header nav button:focus-visible {
  appearance: none; 
  outline: 0.4em solid var(--outline-color); 
}

header nav button span {
  width: 3em;
  height: .3em; 
  background-color: var(--textcolor);
  transform: rotate(0deg);
}



nav {
  position: absolute; 
  z-index: 100;

}

nav ul {
  visibility: hidden;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right:0;  
  transform: translateX(-100%); 
  transition: .3s; 
}


/* Hamburger menu uitgeklapt */

.uitgeklapt nav ul {
  background:rgba(0 0 0 /0.75);
  position: fixed;
  visibility: visible;
  transform: translateX(0%); 
  transition: .3s; 
  
  width: 100%;
  height: 100%;
  overflow-y: hidden;
} 

.uitgeklapt nav ul li {
  margin-left: 2em; 
  list-style: none;
}

.uitgeklapt nav ul li:first-of-type {
  margin-top: 5em;
}

.uitgeklapt button span {
  transition: .3s;
}
.uitgeklapt button span:first-of-type {
  transform: translateY(0.85em) rotate(45deg);
}

.uitgeklapt button span:nth-of-type(2) {
  width: 0em;
}

.uitgeklapt button span:last-of-type {
  transform: translateY(-0.85em) rotate(-45deg);
}




  nav li {
  padding-top: 1em;
}

  nav a {
  font-family: var(--mainfont);
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--textcolor); 
  text-decoration: none;
  font-weight: 600; 
  font-size: 2em; 
  line-height: 2; 
  display: block; 
  text-transform: uppercase; 
}


/* Toegankelijkheids styling*/ 

header nav a:hover {
  color: var(--link-hover); 
  transition: ease-in-out .5s; 
}

header nav a:focus-visible {
  outline: none; 
  appearance: none; 
  color: var(--link-hover); 
}


header nav a:active {
  color: var(--link-active); 

}


/* Einde header mobiel*/ 



/* Achtergrond Mobiel*/ 

section:first-of-type img{
  width: 100%; 
  height: auto; 
  position: relative; 

}

.homepagina section:first-of-type {
  background-color: var(--background-color);

}

/* Einde achtergrond Mobiel*/ 



/******************************/
/* Main html pagina 1 */
/******************************


/******************************/
/* Section 1: On tour  */
/******************************/

/*Twenty one pilots tour text */ 



section:first-of-type  h1  {
  color: var(--textcolor);
  display: flex; 
  font-size: 4.3vw;
  flex-direction: column;
  align-items: center;
  padding-left: 3em;
  padding-right: 7.5em;
  text-align: center;
  position: absolute; 
  display: block;
  top: 3.5em; 
  left: 6em;
  
}


section:first-of-type  h1 span{
  font-family: var(--mainfont2);
  padding-top: 3em;
}

section:first-of-type  h1 strong{
  font-family: var(--mainfont2);
  font-size: 3em;

}


section:first-of-type h1 em{
  font-family: var(--second-font);
  font-weight: 700; 
  font-size: 1.2em; 
  color: var(--accent-color);
  text-transform: uppercase;
  font-style: normal;


}

/* Einde text  */ 

/* Get tickets button */ 


.homepagina section:first-of-type a {

  background: var(--accent-color);
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: 'termina'; 
  font-weight: 700;
  font-style: normal;
  display: block;

  position: absolute;
  left: 3em; 
  bottom:3em; 
  padding: 1em 2em 1em 2em; 
  font-size: 1.5em; 

  appearance: none; 
  outline: none; 

}

/* Toegankelijkheids styling*/ 

.homepagina section:first-of-type a:hover {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border1),
  inset 0 0 var(--button-border1); 
  cursor: pointer;

}

.homepagina section:first-of-type a:focus-visible {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border1),
  inset 0 0 var(--button-border1); 
  cursor: pointer;

}



.homepagina section:first-of-type a:active {
  background-color: var(--button-active); 
}




/* Einde Get tickets button */ 


/******************************/
/* Section 2: Dragon */
/******************************/

.homepagina section:nth-of-type(2){
  background-image: url('../images/pinkbackground.png');
  position: relative;
  z-index: 3;
}

.homepagina section:nth-of-type(2) h2{

  font-family: var(--mainfont2);
  color:var(--textcolor); 
  text-align: right;
  font-size: 3em;
  padding: 1em 0.5em 0em 3em;
  line-height: 1em;
  text-shadow:.1em .1em 0 var(--shadow-color);

}

.homepagina section:nth-of-type(2) h2 span{
  color:var(--accent-color); 
}

.homepagina section:nth-of-type(2) p {
  display: flex; 
  font-size: 1.5em;
  justify-content: flex-end;
  padding: 1em;

}

.homepagina section:nth-of-type(2) a {
  
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: var(--mainfont);
  padding: 1em 2em 1em 2em;
  background-color: var(--accent-color);
  position: absolute; 
  right: 1em; 

}

/* Toegankelijkheids styling*/ 

.homepagina section:nth-of-type(2) a:hover {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
}

.homepagina section:nth-of-type(2) a:focus-visible {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
}



.homepagina section:nth-of-type(2) a:active {
  background-color: var(--button-active); 

}




/* draak plaatje */ 

@keyframes dragon-animation {

  100% {
    transform: rotate(1turn);

  }
}


.homepagina section:nth-of-type(2) img {
  width: 150%;
  overflow: hidden;
  height: auto;
  margin-left: -13em;
  margin-bottom: -5em; 

}

.homepagina section:nth-of-type(2) img.draaien {
  animation-name: dragon-animation; 
  animation-duration:.3s;
  animation-iteration-count: 5;


}


/******************************/
/* Section 3: Merch */
/******************************/



/* Achtergrond */ 

.homepagina section:nth-of-type(3){
  background-image: url('../images/swirlbackground.jpg');
  height: auto;
  background-position: left;
  background-size: 200%;

} 


/* 3 plaatjes merch */ 


.homepagina section:nth-of-type(3) ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em;
  padding-top: 6em;
  padding-bottom: 10em;
  justify-content: center;
  list-style: none;
}

.homepagina section:nth-of-type(3) ul li{
  padding-left: 1em;
}

.homepagina section:nth-of-type(3) ul li a {
  display: flex;
  flex-direction: column;
}


/* toegankelijkheids styling */ 

.homepagina section#Merchsection ul li a:hover {
  appearance: none;
  outline: none;
  opacity: 0.7;
  transition: 0.3s; 
}

.homepagina section#Merchsection ul li a:focus-visible {
  appearance: none;
  outline: none;
  opacity: 0.7;
  transition: 0.3s; 
  border: 0.3em solid var(--outline-color); 

}

.homepagina section#Merchsection ul li a:active {
  background-color: var(--link-active);

}


/* toegankelijkheids styling einde */ 



.homepagina section:nth-of-type(3) a img {
  width: 100%;

}


/******************************/
/* Section 4: Album box set  */
/******************************/


.homepagina section:nth-of-type(4){
  background-image: url('../images/gradientbackground.jpg');
  text-align: center;
  align-items: center;
  background-size: 100% 104%;


  padding: 2em 2em 8em 2em;
} 

.homepagina section:nth-of-type(4) img{
  width: 100%;
}

.homepagina section:nth-of-type(4) h2 {
  font-size: 4em;
  padding-bottom: 0.3em;
}


.homepagina section:nth-of-type(4) h3 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.homepagina section:nth-of-type(4) ul{
  padding-bottom: 2em;
}

.homepagina section:nth-of-type(4) li {
  font-family: var(--mainfont);
  color: var(--textcolor);
  font-size: 1.3em;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  line-height: 2em;
}

.homepagina section:nth-of-type(4) a{

  background: var(--accent-color);
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  font-family: var(--mainfont);
  display: block;

  padding: 1em 1em 1em 1em; 
  font-size: 1.5em; 

}

.homepagina section:nth-of-type(4) a:hover {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;

}

.homepagina section:nth-of-type(4) a:focus-visible {
  transform:translate y(-.5em);


  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
}


.homepagina section:nth-of-type(4) a:active {
  background-color: var(--button-active); 

}



/******************************/
/* Section 5: Videos  */
/******************************/

.homepagina section:nth-of-type(5) {

  background-image: url("../images/Whitetexturebackground.jpg"); 
}

.homepagina section:nth-of-type(5) ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

.homepagina section:nth-of-type(5) li{
  position: relative;
  min-width: 63vw;
  margin: 2em 1em;
}

.homepagina section:nth-of-type(5) img{
  width: 100%;

}

.homepagina section:nth-of-type(5) img[class^='overlay'] {
  position: absolute;
  width: 80%;
  left: 2em;
  bottom: 2em; 
}
.homepagina section:nth-of-type(5) img.overlay-saturday{
  width: 60%;
  left: 3em; 
  bottom: 1em; 
}


  /*  Bron vormgeving button: Positioneren oefening 1, Sanne Codepen */


.homepagina section:nth-of-type(5) a{ 

  width:4em;
  height: 4em;
  margin:0;
  padding:0;

  appearance:none;
  
  background-color:var(--background-color2);

  /*  truc om een driehoek te maken met een conic-gradient */
  background-image:conic-gradient(at right center, transparent 240.5deg, var(--textcolor) 240.5deg 299.5deg, transparent 299.5deg);
  background-position:58% center;
  background-size:42% 48%;
  background-repeat:no-repeat;

  border-radius:50%;
  border:none;
  outline:none;
  
  /* de tekst is doorzichtig */
  color:transparent;
  /* de text in de button kan niet geselecteerd worden */
  user-select:none;
  /* de cursor wordt een klik-pointer */
  cursor:pointer;
  
  /*  Einde bron Sanne */

  position: absolute;
  left:calc(50% - 2.5em);
  top:calc(50% - 2.5em);

    /*  Einde bron Sanne */

}  

    /*  Toegankelijkheids styling  */


.homepagina section:nth-of-type(5) a:hover { 
  
  opacity: .8;
  transition: .3s; 

}

.homepagina section:nth-of-type(5) a:focus-visible { 
  transform: scale(1.2); 
  transition: .5s;
  background-color: var(--button-hover); 
  transition: .3s ease-in-out; 
  
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
}


/******************************/
/* Section 6: Formulier  */
/******************************/

section:last-of-type {
  background-image: url('../images/bluebackground.jpg');
  padding: 5em 3em 5em 3em; 
  display: block;

}

  /*  Formulier */


form{
  font-display: block;
  align-items: center;
  appearance: none;
}

form fieldset{
  font-family: var(--mainfont);
  display: flex;
  flex-direction: column;
  align-items: center;
  appearance: none;

  border: none;
}

input[type="email"] {
  border: none;
  font-family: var(--mainfont);
  color: var(--accent-color); 
  font-size: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  width: 300px 
}


input[type="submit"] {

  border: none;
  font-family: var(--mainfont);
  color: var(--textcolor); 
  background-color: var(--background-color2); 
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: 300px 

}

input:focus-visible {
  appearance: none;
}

input[type="submit"]:hover{
  background-color: var(--button-hover);
  transition: .3s; 

}


input[type="email"]:focus-visible {
  transform: scale(1.2); 
  background-color: white;
  outline: 0.2em solid var(--accent-color2); 

}

input[type="submit"]:focus-visible {
  transform: scale(1.2); 
  outline: 0.5em solid var(--button-hover); 

}






/******************************/
/* Einde Main html pagina 1 */
/******************************/






/******************************/
/* Main html pagina 2 */
/******************************/




.tourpagina section:first-of-type{
  background-color: var(--background-color); 
}

.tourpagina section:nth-of-type(2) {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tourpagina h2 {
  font-family: var(--second-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
  color: var(--accent-color); 
  position: absolute; 
  top: 6em; 
  left: 0.5em; 
  right: 0.5em; 

}



/*  Ticket kopen ordered list */

.tourpagina ol{
  margin: -20em 1em 1em 1em; 
  padding: 3em 1em; 
  z-index: 80; 
}


.tourpagina ol li {

  font-family: var(--second-font);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--accent-color); 
  font-size: 1.3em;
  line-height: 1em; 


  display: flex; 
  flex-direction: column; 
  order: 2; 
  margin-top: 2em; 


}


.tourpagina time{
  font-size: 0.8em;
  order: -1; 
  margin-bottom: 0.5em; 

}

 time::after {

  display: inline-block; 
  content: ''; 
  margin-bottom: 0.1em; 
  width: 8em; 
  height: 0.3em; 
  background-color: var(--accent-color); 
}

.tourpagina section:nth-of-type(2) strong {
  color: var(--accent-color2); 
  order: 3; 
  margin-top: 0.1em; 
  margin-bottom: 1em; 

}

.tourpagina section:nth-of-type(2) a{
  display: block; 
  font-family: var(--mainfont);
  order: 4; 
  width: fit-content;

  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: var(--mainfont);
  padding: 0.5em 1em 0.5em 1em; 

  background-color: var(--accent-color2); 
}

/* Bron: Opdracht states 1 voor het lijntje die verschijnt bij hover*/ 


.tourpagina section:nth-of-type(2) a::before {

  display: inline-block;
  content: ''; 
  margin-bottom: 0.1em; 
  width: 8em; 
  height: 0.3em; 
  background-color: var(--accent-color); 
  transform:scalex(0);
  transition: .3s; 

}

.tourpagina section:nth-of-type(2) a:hover::before {
  transform:scalex(1);
  background-color: var(--button-hover);

}

.tourpagina section:nth-last-of-type(2) a:hover {
  transition: .3s ease-in-out; 
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
}

.tourpagina section:nth-of-type(2) a:focus-visible::before {
  transform:scalex(1);
  background-color: var(--button-hover); 
}

.tourpagina section:nth-last-of-type(2) a:focus-visible {
  transition: .3s ease-in-out; 
  box-shadow: 0 .5em var(--button-border2),
  inset 0 0 var(--button-border1); 
  cursor: pointer;
  transform: scale(1.1);
}



/* Animatie tour dates tekst */

/* Bron: Opdracht animatie 1*/ 


@keyframes text-jump-animation {
  0% {
    transform:translateY(0);
  }
  100% {
    transform:translateY(-8rem);
  }
}

.tourpagina section:first-of-type:hover h2 {
  animation-name: text-jump-animation; 
  animation-duration:.5s;
  animation-iteration-count: infinite; 
  animation-direction:alternate;
  animation-timing-function:cubic-bezier(0.125, 0.995, 1.000, 1);
}

  /* Bron bezier: https://matthewlein.com/tools/ceaser */


/* Einde Bron: Opdracht animatie 1*/ 



 
/******************************/
/* Section 7: Footer  */
/******************************/ 


footer {
  background-color:var(--background-color);
  height: 5em; 

} 

footer p{
  color: var(--footer-text);
  text-align: center;
  align-items: center;
  padding-top: 2em; 
  font-size: 1.1em; 
}








