/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
  padding: 0;  
}

:root{
  --mainfont: 'Gothic A1', sans-serif;
  --mainfont2: 'Tenebra'; 
  --buttonfont: 'termina, sans-serif'; 
  --textcolor: white; 
  --background-color: black; 
  --background-color2: #f67cab; 
  --footer-text: #f67cab; 
  --accent-color: #5FB8CC;
  --formfont: 'good-headline-web-pro-wide', sans-serif; 
  --form-color2: #f67cab; 
  --shadow-color:rgba(0 0 0 /0.75);
  --link-hover: #f67cab; 
}

/* @media (prefers-color-scheme:dark) {  
  :root {
    --background-color2: purple; 
    --accent-color: purple; 
    
  }
}

*/



/*fonts*/ 

.homepagina h2{
  font-family: var(--mainfont2);
  color: var(--textcolor);
}

h3{
  font-family: var(--mainfont);
  text-transform: uppercase;
  color: var(--textcolor);
  }
  

p {
  font-family: var(--mainfont);
  color: var(--textcolor); 
}




/* Einde fonts*/ 

/******************************/
/* Header Desktop
/******************************

header{
  position: sticky; 
  z-index: 999;
  top: 0; 
  background-color: var(--background-color);
}


header nav ul{
  font-family: var(--mainfont);
  list-style: none;
  padding: 0px;
  margin: 0;
  position: sticky; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


header nav a{
  color: var(--textcolor); 
  text-decoration: none;
  font-weight: 600; 
  font-size: 1.5em; 
  line-height: 2; 
  text-transform: uppercase; 
  font-size: 1.3vw;
  letter-spacing: 0.09vw;
  transition: ease-in-out 0.5s; 


}

header nav a{
  font-family: var(--mainfont);
  text-transform: uppercase;

}

header nav a:hover{
  color: grey; 
  transition: ease-in-out 0.5s; 

}


header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header nav span{
  color: var(--textcolor); 
}


header nav li{
  font-family: var(--mainfont);
  text-transform: uppercase;

}



/******************************/
/* Header mobiel */
/******************************/


/* Header mobiel hamburger */


header nav button{
  width: 100%;
  height: auto;
  position: fixed;
  top: 1em;
  z-index: 999;
}

header nav button{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2em;
  z-index: 101;
  margin: 1em;
  background-color: transparent;
  border-style: none;

}

header nav button span {
  width: 3em;
  height: .3em; 
  background-color: var(--textcolor);
  transform: rotate(0deg);
}



nav {
  position: absolute; 
  z-index: 100;

}

nav ul {
  visibility: hidden;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right:0;  
  transform: translateX(-100%); 
  transition: .3s; 
}




.uitgeklapt nav ul {
  background:rgba(0 0 0 /0.75);
  position: fixed;
  visibility: visible;
  transform: translateX(0%); 
  transition: .3s; 
  
  width: 100%;
  height: 100%;
  overflow-y: hidden;
} 

.uitgeklapt nav ul li {
  margin-left: 2em; 
}

.uitgeklapt nav ul li:first-of-type {
  margin-top: 5em;
}

.uitgeklapt button span {
  transition: .3s;
}
.uitgeklapt button span:first-of-type {
  transform: translateY(0.85em) rotate(45deg);
}

.uitgeklapt button span:nth-of-type(2) {
  width: 0em;
}

.uitgeklapt button span:last-of-type {
  transform: translateY(-0.85em) rotate(-45deg);
}



  nav li{
  padding-top: 1em;
}

  nav a{
  font-family: var(--mainfont);
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--textcolor); 
  text-decoration: none;
  font-weight: 600; 
  font-size: 2em; 
  line-height: 2; 
  display: block; 
  text-transform: uppercase; 
}

nav a:hover{
  color: var(--link-hover); 
  transition: ease-in-out 0.5s; 
}

/* Einde header mobiel*/ 



/* Achtergrond Desktop

section:first-of-type img{
  background-color: var(--background-color2);
  width: 100%; 
  height: auto; 
  position: relative; 

}

Einde achtergrond Desktop*/ 


/* Achtergrond Mobiel*/ 

section:first-of-type img{
  width: 100%; 
  height: auto; 
  position: relative; 

}

.homepagina section:first-of-type {
  background-color: var(--background-color);

}

/* Einde achtergrond Mobiel*/ 



/******************************/
/* Main html pagina 1 */
/******************************


/******************************/
/* Section 1: On tour  */
/******************************/

/*Twenty one pilots tour text */ 


section:first-of-type div:first-of-type {
position: absolute; 
display: block;
top: 3.5em; 
left: 7em;
}

section:first-of-type div:first-of-type h1  {
  color: var(--textcolor);
  display: flex; 
  font-size: 4.3vw;
  flex-direction: column;
  align-items: center;
  padding-left: 3em;
  padding-right: 7.5em;
  display: block;
  text-align: center;
}


section:first-of-type div:first-of-type h1 span{
  font-family: var(--mainfont2);
  padding-top: 3em;
}

section:first-of-type div:first-of-type h1 strong{
  font-family: var(--mainfont2);
  font-size: 3em;


}

section:first-of-type div:first-of-type h1 em{
  font-family: var(--buttonfont);
  color: var(--accent-color);
  text-transform: uppercase;
  font-style: normal;


}

/* Einde text  */ 

/* Get tickets button */ 


.homepagina section:first-of-type a {

  background: var(--accent-color);
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: 'termina'; 
  font-weight: 700;
  font-style: normal;
  display: block;

  position: absolute;
  left: 3em; 
  bottom:3em; 
  padding: 1em 2em 1em 2em; 
  font-size: 1.5em; 

}

/* Einde Get tickets button */ 


/******************************/
/* Section 2: Dragon */
/******************************/

.homepagina section:nth-of-type(2){
  background-image: url('../images/pinkbackground.png');
  position: relative;
  z-index: 3;
}

.homepagina section:nth-of-type(2) h2{

  font-family: var(--mainfont2);
  color:var(--textcolor); 
  text-align: right;
  font-size: 3em;
  padding: 1em 0.5em 0em 3em;
  line-height: 1em;
  text-shadow:.1em .1em 0 var(--shadow-color);

}

.homepagina section:nth-of-type(2) h2 span{
  color:var(--accent-color); 
}

.homepagina section:nth-of-type(2) p {
  display: flex; 
  font-size: 1.5em;
  justify-content: flex-end;
  padding: 1em;

}

.homepagina section:nth-of-type(2) a {
  
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: var(--mainfont);
  padding: 1em 2em 1em 2em;
  background-color: var(--accent-color);
  position: absolute; 
  right: 1em; 

}

/* draak plaatje */ 

@keyframes dragon-animation {

  100% {
    transform: rotate(1turn);

  }
}


.homepagina section:nth-of-type(2) img {
  width: 150%;
  overflow: hidden;
  height: auto;
  margin-left: -13em;
  margin-bottom: -5em; 

}

.homepagina section:nth-of-type(2) img.draaien {
  animation-name: dragon-animation; 
  animation-duration:.3s;
  animation-iteration-count: 5;


}


/******************************/
/* Section 3: Merch */
/******************************/



/* Achtergrond */ 

.homepagina section:nth-of-type(3){
  background-image: url('../images/swirlbackground.jpg');
  height: auto;
  background-position: left;
  background-size: 200%;

} 


/* 3 plaatjes merch */ 


.homepagina section:nth-of-type(3) ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em;
  padding-top: 6em;
  padding-bottom: 10em;
  justify-content: center;
  list-style: none;
}

.homepagina section:nth-of-type(3) ul li{
  padding-left: 1em;
}

.homepagina section:nth-of-type(3) ul li a {
  display: flex;
  flex-direction: column;
}

.homepagina section:nth-of-type(3) ul a:hover {
  opacity: 0.7;
  transition: 0.3s; 
}

.homepagina section:nth-of-type(3) a img {
  width: 100%;

}


/******************************/
/* Section 4: Album box set  */
/******************************/


.homepagina section:nth-of-type(4){
  background-image: url('../images/gradientbackground.jpg');
  text-align: center;
  align-items: center;
  background-size: 100% 104%;


  padding: 2em 2em 8em 2em;
} 

.homepagina section:nth-of-type(4) img{
  width: 100%;
}

.homepagina section:nth-of-type(4) h2 {
  font-size: 4em;
  padding-bottom: 0.3em;
}

.homepagina section:nth-of-type(4) h3 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.homepagina section:nth-of-type() ul{
  padding-bottom: 2em;
}

.homepagina section:nth-of-type(4) li {
  font-family: var(--mainfont);
  color: var(--textcolor);
  font-size: 1.3em;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  line-height: 2em;
}

.homepagina section:nth-of-type(4) a{

  background: var(--accent-color);
  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  font-family: var(--mainfont);
  display: block;

  padding: 1em 1em 1em 1em; 
  font-size: 1.5em; 

}


/******************************/
/* Section 5: Videos  */
/******************************/

.homepagina section:nth-of-type(5) {

  background-image: url("../images/Whitetexturebackground.jpg"); 
}

.homepagina section:nth-of-type(5) ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
}

.homepagina section:nth-of-type(5) li{
  position: relative;
  min-width: 63vw;
  margin: 2em 1em;
}

.homepagina section:nth-of-type(5) img{
  width: 100%;

}

.homepagina section:nth-of-type(5) img[class^='overlay'] {
  position: absolute;
  width: 80%;
  left: 2em;
  bottom: 2em; 
}
.homepagina section:nth-of-type(5) img.overlay-saturday{
  width: 60%;
  left: 3em; 
  bottom: 1em; 
}


  /*  Bron vormgeving button: Positioneren oefening 1, Sanne Codepen */


.homepagina section:nth-of-type(5) a{ 

  width:4em;
  height: 4em;
  margin:0;
  padding:0;

  appearance:none;
  
  background-color:var(--background-color2);

  /*  truc om een driehoek te maken met een conic-gradient */
  background-image:conic-gradient(at right center, transparent 240.5deg, var(--textcolor) 240.5deg 299.5deg, transparent 299.5deg);
  background-position:58% center;
  background-size:42% 48%;
  background-repeat:no-repeat;

  border-radius:50%;
  border:none;
  outline:none;
  
  /* de tekst is doorzichtig */
  color:transparent;
  /* de text in de button kan niet geselecteerd worden */
  user-select:none;
  /* de cursor wordt een klik-pointer */
  cursor:pointer;
  
  /*  Einde bron Sanne */

  position: absolute;
  left:calc(50% - 2.5em);
  top:calc(50% - 2.5em);

    /*  Einde bron Sanne */

}  

.homepagina section:nth-of-type(5) a:hover { 
  
  opacity: 0.8;
  transition: 0.3s; 

}





/******************************/
/* Section 6: Formulier  */
/******************************/

section:last-of-type {
  background-image: url('../images/bluebackground.jpg');
  padding: 5em 3em 5em 3em; 
  display: block;

}

  /*  Formulier */


form{
  font-display: block;
  align-items: center;
  appearance: none;
}

form fieldset{
  font-family: var(--mainfont);
  display: flex;
  flex-direction: column;
  align-items: center;
  appearance: none;

  border: none;
}

input[type="email"] {
  border: none;
  font-family: var(--mainfont);
  color: var(--accent-color); 
  font-size: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  width: 300px 
}


input[type="submit"] {

  border: none;
  font-family: var(--mainfont);
  color: var(--textcolor); 
  background-color: var(--background-color2); 
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  width: 300px 

}

/******************************/
/* Einde Main html pagina 1 */
/******************************/


/******************************/
/* Main html pagina 2 */
/******************************/

.tourpagina section:first-of-type{
  background-color: var(--background-color); 
}

.tourpagina section:nth-of-type(2) {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tourpagina h2 {
  font-family: var(--formfont);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
  color: var(--accent-color); 
  position: absolute; 
  top: 6em; 
  left: 0.5em; 
  right: 0.5em; 

}



/*  Ticket kopen ordered list */

.tourpagina ol{
  margin: -20em 1em 1em 1em; 
  padding: 3em 1em; 
  z-index: 80; 
}


.tourpagina ol li {

  font-family: var(--formfont);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--accent-color); 
  font-size: 1.3em;
  line-height: 1em; 


  display: flex; 
  flex-direction: column; 
  order: 2; 
  margin-top: 2em; 


}


.tourpagina time{
  font-size: 0.8em;
  order: -1; 
  margin-bottom: 0.5em; 

}

 time::after {

  display: inline-block; 
  content: ''; 
  margin-bottom: 0.1em; 
  width: 8em; 
  height: 0.3em; 
  background-color: var(--accent-color); 
}

.tourpagina section:nth-of-type(2) strong {
  color: var(--form-color2); 
  order: 3; 
  margin-top: 0.1em; 
  margin-bottom: 1em; 

}

.tourpagina section:nth-of-type(2) a{
  display: block; 
  font-family: var(--mainfont);
  order: 4; 
  width: fit-content;

  text-align: center;
  text-decoration: none;
  color: var(--textcolor);
  text-transform: uppercase;
  font-family: var(--mainfont);
  padding: 0.5em 1em 0.5em 1em; 

  background-color: var(--form-color2);
}

.tourpagina section:nth-of-type(2) a::before {

  display: inline-block;
  content: ''; 
  margin-bottom: 0.1em; 
  width: 8em; 
  height: 0.3em; 
  background-color: var(--accent-color); 

}


 
/******************************/
/* Section 7: Footer  */
/******************************/ 


footer {
  background-color:var(--background-color);

} 

footer p{
  color: var(--footer-text);
}








